<div class="wrapper">
  <div class="left-pane">
    <h1>
      The most Extensible Digital Student Attendance System for Tertiary
      Institutions
    </h1>
  </div>
  <div class="right-pane">
    <main>
      <img src="tendance_logo.png" title="tendance logo" />
      <h3>Login</h3>
      <div class="text-field">
        <label>Email</label>
        <input
          type="email"
          placeholder="Email"
          [formControl]="form.controls.email"
        />
      </div>

      <div class="text-field">
        <label>Password</label>
        <input
          type="password"
          placeholder="Password"
          [formControl]="form.controls.password"
        />
      </div>

      <button
        class="primary"
        (click)="login()"
        [disabled]="isBusy || form.invalid"
        title="login"
        type="button"
      >
        Login
      </button>
      <p class="forgot-password">
        Don't have an account? <a routerLink="/signup">signup here</a>
      </p>
    </main>
  </div>
</div>
