@use 'sass:color';

// :root {
//     --primary-color: #3399CC;
//     --white-color: #FFFFFF;
//     --black-color: #333333;
//     --text-color: #333333;
//     --grey-1-color: #E6E6E6;
//     --grey-2-color: #F2F2F2;
//     --link-color: #3399CC;
//     --sidebar-background-color: #ffffff;
// }

$color-background: #F2F2F2;
$color-primary: #3399CC;
$color-danger: #ED627F;
$color-success: #32c748;
$color-warning: #eddf49;

$color-white: #FFFFFF;
$color-neutral-1: #F2F2F2;
$color-neutral-2: #E6E6E6;
$color-neutral-3: #CCCCCC;
$color-black: #333333;

$color-textfield-background: #F2F2F2;

$color-sidebar-background: #ffffff;

$color-link: #3399CC;
$color-text: #333333;

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Parkinsans", sans-serif;
    color: $color-text;
}


body {
    font-optical-sizing: auto;
    font-style: normal;
}

label {
    display: block;
    font-weight: 400;
    font-size: 1.125rem;
    margin-bottom: 8px;
}

.text-field {
    input {
        display: block;
        width: 100%;
        height: 48px;
        background-color: $color-textfield-background;
        border: none;
        font-size: 1.125rem;
        border-left: 10px solid $color-primary;
        padding-left: 16px;
        transition: border-left 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    input:focus {
        outline: none;
        border-left: 0px solid $color-primary;
    }

    input::placeholder {
        color: $color-neutral-3;
    }
}

button {
    display: block;
    width: 100%;
    height: 48px;
    text-align: center;
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 4px 16px;
    transition: background-color 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;

    background-color: $color-neutral-2;
    color: $color-black;

    &:disabled {
        background-color: $color-neutral-3;
        color: $color-neutral-1;
    }

    &:hover:not(:disabled) {
        background-color: color.adjust($color-neutral-3, $lightness: -10%);
    }
}

button.dropdown {
    border-left: 10px solid $color-primary;
    text-align: start;
    font-weight: 400;
    background-color: $color-textfield-background;

    &:hover {
        background-color: color.adjust($color-textfield-background, $lightness: -5%);
    }

    .placeholder {
        color: $color-neutral-3;
    }
}

button.primary {
    background-color: $color-primary;
    color: $color-white;

    &:disabled {
        background-color: $color-neutral-3;
        color: $color-neutral-1;
    }

    &:hover:not(:disabled) {
        background-color: color.adjust($color-primary, $lightness: -10%)
    }
}

button.danger {
    background-color: $color-danger;
    color: $color-white;

    &:disabled {
        background-color: $color-neutral-3;
        color: $color-neutral-1;
    }

    &:hover:not(:disabled) {
        background-color: color.adjust($color-danger, $lightness: -10%)
    }
}

button.icon {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
    width: 54px;
    height: 54px;

    svg {
        width: 24px;
        height: 24px;
    }

    &:hover {
        background-color: $color-primary;

        rect {
            fill: $color-white;
        }
    }

    &:disabled {
        background-color: $color-neutral-3;

        rect {
            fill: $color-neutral-1;
        }
    }

    rect {
        fill: $color-neutral-3;
        transition: fill 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
}

a {
    color: $color-link;
    text-decoration: none;
    border-bottom: 0;

    &:hover {
        text-decoration: underline;
    }
}

table {
    width: 100%;
}

table,
tr {
    border: 1px solid $color-neutral-2;
    border-collapse: collapse;
}

td,
th {
    border-bottom: 1px solid $color-neutral-2;
    text-align: left;
    padding: 0 16px;
}

th {
    height: 40px;
    font-weight: 500;
}

td {
    height: 54px;
}

td:has(button) {
    height: 54px;
    width: 54px;
    padding: 0;
    position: relative;

    button {
        width: 100%;
        height: 100%;
    }
}

td:not(:has(button)) {
    &:hover {
        background-color: $color-neutral-2;
    }

    cursor: pointer;
}

.text-end {
    text-align: end;
}