@use '../../styles.scss' as *;

.main-actions {
    margin-bottom: 16px;
    display: flex;
    justify-content: end;

    button {
        width: auto;
    }
}

.option-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    border: 1px solid $color-neutral-3;

    button {
        height: 54px;
        min-width: 160px;
        text-align: end;
        font-weight: 500;
    }
}

.dialog {
    width: auto;
    height: auto;
    background-color: $color-white;
    min-width: 480px;

    .text-field {
        margin-bottom: 16px;
    }

    .dialog-actions {
        padding: 32px;
        padding-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
    }

    button.close:hover {
        background-color: $color-neutral-2;
    }
}

.dialog-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 32px;
}

.dialog-header {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 54px;
}

form {
    padding: 0 32px;
    padding-bottom: 16px;
}

.text-field {
    position: relative;
}