<div>
  <div class="main-actions">
    <button
      class="primary"
      (click)="modalState = modalStates.CreateCaptureDevice"
    >
      New Capture Device
    </button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Type</th>
        <th>Client Key</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (captureDevice of captureDevices; track $index) {
      <tr>
        <td (click)="selectCaptureDevice(captureDevice)">
          {{ captureDevice.nickname }}
        </td>
        <td (click)="selectCaptureDevice(captureDevice)">
          {{ captureDevice.type }}
        </td>
        <td (click)="selectCaptureDevice(captureDevice)">
          {{ captureDevice.clientKey }}
        </td>
        <td (click)="selectCaptureDevice(captureDevice)">
          {{ captureDevice.created | date : "medium" }}
        </td>
        <td>
          <button
            class="icon"
            title="options"
            (click)="optionClick(captureDevice)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.44 4.11">
              <rect width="4.11" height="4.11" />
              <rect x="6.17" width="4.11" height="4.11" />
              <rect x="12.33" width="4.11" height="4.11" />
            </svg>
          </button>

          @if(modalContext.captureDeviceOption?.id == captureDevice.id){
          <div
            class="option-dropdown"
            appClickOutside
            (clickOutside)="closeOption()"
          >
            <button>Edit</button>
            <button class="danger" (click)="deleteCaptureDevice(captureDevice)">
              Delete
            </button>
          </div>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

@if(modalState == modalStates.CreateCaptureDevice) {
<app-dialog (dismissed)="closeModal()">
  <div class="dialog">
    <div class="dialog-header">
      <button (click)="closeModal()" class="icon close" title="close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.17 10.17">
          <rect
            class="cls-1"
            x="-0.05"
            y="3.03"
            width="10.28"
            height="4.11"
            transform="translate(-2.11 5.09) rotate(-45)"
          />
          <rect
            class="cls-1"
            x="-0.05"
            y="3.03"
            width="10.28"
            height="4.11"
            transform="translate(5.09 -2.11) rotate(45)"
          />
        </svg>
      </button>
    </div>
    <p class="dialog-title">Add new Capture Device</p>
    <form>
      <div class="text-field">
        <label>Nickname</label>
        <input
          title="nickname"
          type="text"
          placeholder="nickname"
          name="nickname"
          [(ngModel)]="createCaptureDeviceForm.nickname"
        />
      </div>
      <div class="text-field">
        <label>Device Type</label>
        <button
          class="dropdown"
          title="device type"
          type="button"
          (click)="showDeviceTypes()"
        >
          @if(createCaptureDeviceForm.type){
          <span>{{ createCaptureDeviceForm.type }}</span>
          }@else {
          <span class="placeholder">- Select device type -</span>
          }
        </button>
        @if (createCaptureDeviceForm.choice == 'type') {
        <div
          class="option-dropdown"
          appClickOutside
          (clickOutside)="createCaptureDeviceForm.choice = null"
        >
          @for (deviceType of deviceTypes; track $index) {
          <button (click)="selectDeviceType(deviceType)" type="button">
            {{ deviceType }}
          </button>
          }
        </div>
        }
      </div>
      <div class="text-field">
        <label>Classroom</label>
        <button
          class="dropdown"
          title="classroom"
          type="button"
          (click)="showClassrooms()"
        >
          @if(createCaptureDeviceForm.classroom){
          <span
            >{{ createCaptureDeviceForm.classroom.course.name }} at
            {{ createCaptureDeviceForm.classroom.room.name }} by
            {{ createCaptureDeviceForm.classroom.teacher.firstName }}
            {{ createCaptureDeviceForm.classroom.teacher.middleName }}
            {{ createCaptureDeviceForm.classroom.teacher.lastName }}</span
          >
          }@else {
          <span class="placeholder">- Select a classroom -</span>
          }
        </button>
        @if (createCaptureDeviceForm.choice == 'classroom') {
        <div
          class="option-dropdown"
          appClickOutside
          (clickOutside)="createCaptureDeviceForm.choice = null"
        >
          @for (classroom of classrooms; track $index) {
          <button (click)="selectClassroom(classroom)" type="button">
            {{ classroom.course.name }} at {{ classroom.room.name }} by
            {{ classroom.teacher.firstName }}
            {{ classroom.teacher.middleName }}
            {{ classroom.teacher.lastName }}
          </button>
          }
        </div>
        }
      </div>
    </form>
    <div class="dialog-actions">
      <button
        class="primary"
        (click)="createCaptureDevice()"
        [disabled]="createCaptureDeviceForm.invalid()"
      >
        Create Capture Device
      </button>
    </div>
  </div>
</app-dialog>
}
